h4{
    font-size: large;
    font-weight: bold;
}
.hovered {
    transform: scale(1.0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background-color: #4CAF50;
}
.title:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
/*.stat-title a:hover {
    color: black; !* Change the color to white on hover *!
}*/
.stats:hover .stat-title a {
    color: black;
}
/*
.stat a:hover{
    background-color: white;
}*/
