.hovered {
    transform: scale(1.0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);/*
    background-color: #4CAF50;*/
}
.title:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.stat:hover .stat-title a {
    color: #4CAF50; /* Change the color to white on hover */
}
/*.stats:hover .stat-title a {
    color: black;
}*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    padding-left: 50px;
    /* Add styles for the label */
}

.add-button {
    /* Add styles for the button */
}
/*
.stats {
    display: flex;
    flex-wrap: wrap; !* Allow items to wrap to the next line *!
    justify-content: space-between; !* Distribute items evenly along the main axis *!
}

.stat-container {
    width: 100%; !* Set width for each container to ensure each item occupies 20% *!
    margin-bottom: 20px; !* Add margin between containers *!
}

.stat {
    width: 100%; !* Make each stat item occupy the full width of its container *!
   !* background-color: #f0f0f0;*! !* Example background color *!
    border-radius: 100px; !* Example border radius *!
    padding: 30px; !* Example padding *!
    text-align: center; !* Center-align text *!
}

.stat-title {
    font-size: 18px; !* Example font size *!
    color: #cccccc; !* Example text color *!
    text-decoration: none; !* Remove underline from links *!
}

!* Add hover effect *!
.stat:hover {
    background-color: #ccc; !* Example background color on hover *!
    transition: background-color 0.3s ease; !* Smooth transition *!
}

*/
